# Make sure brew still works
fish_add_path /opt/homebrew/bin

# Supresses fish's intro message
set fish_greeting

# Some aliases for navigating folders
alias l='eza --icons'
alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

# Make it easy to re-source the updated config
function reload
    source ~/.config/fish/config.fish
end